.login-page {
    height: 1024px;
    background-color: #4D5D72;
}

.login-page h1 {
    position: absolute;
    width: 514px;
    height: 82px;
    left: calc(50% - 514px/2);
    top: 151px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #FFFFFF;
}

#info-box {
    position: absolute;
    width: 376px;
    height: 413px;
    left: calc(50% - 376px/2);
    top: 264px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10%;

    background: #3A4656;
}

.input-box {
    width: 278px;
    height: 68px;
}

.input-box > span {
    display: block;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.input-box > input {
    width: 100%;
    height: 36px;

    background: #FFFFFF;
    border-radius: 20px;
    border: 0;
}

#input-password {
    margin-top: -20px;
}

#login-btn {
    width: 108px;
    height: 29px;
    align-self: self-end;
    margin-right: 49px;
    margin-top: 10px;

    border: 0;
    background: #0390BC;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;
}

#login-btn:hover{
    cursor: pointer;
}