.sign-in-page{
    position: absolute;
    height: 1024px;
    width: 100vw;
    left: 0;
    top:0;
    background-color: #4D5D72;
}

.sign-in-page button {
    cursor: pointer;
    transition: border-color 0.25s;
}

.sign-in-page button:hover {
    border-color: #646cff;
}

.sign-in-page button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.sign-in-page h1 {
    position: absolute;
    width: 514px;
    height: 82px;
    left: calc(50% - 514px/2);
    top: 151px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #FFFFFF;
}

.sign-in-page #sign-in-form {
    position: absolute;
    width: 975px;
    height: 573px;
    left: calc(50% - 975px/2);
    top: 293px;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 207px;
    row-gap: 0px;

    background: #3A4656;
}

.sign-in-page .info-box {
    display: block;
    width: 276px;
    height: 68px;
}

.sign-in-page .info-box > p {
    padding-left: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.sign-in-page .info-box > input {
    margin-top: -10px;

    width: 276px;
    height: 36px;

    background: #FFFFFF;
    border-radius: 20px;
}

.sign-in-page .form-side{
    display: flex;
    flex-flow: column;

    height: 358px;

    align-items: center;
    justify-content: center;
    gap: 32px;
}

.sign-in-page .submit-button {
    position: relative;
    width: 108px;
    height: 29px;
    left: 380px;
    top: 25px;

    background: #0390BC;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}